# Copy/rename this file to .env and then populate with your own secrets

# Get from https://filestack.com to enable image uploads in blog posts
FILESTACK_API_KEY=ABCDEFG

# Set to `false` to skip authentication when going to /admin
USE_AUTHENTICATION=false

DB_HOST=file:./dev.db
