node_modules
.DS_Store
dist
yarn-error.log
.env
.redwood
dist
dist-babel
schema.graphql
web/public/mockServiceWorker.js
web/types/graphql.d.ts
api/types/graphql.d.ts

# api
dev.db*
api/generated/generated-types.d.ts
packages/photon/runtime
packages/photon/index.js
packages/photon/index.d.ts

# Local Netlify folder
.netlify

