body {
  font-family: 'Avenir', sans-serif;
}

.markdown p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.top-50 {
  top: 50%;
}

.left-50 {
  left: 50%;
}

.-translate-50 {
  transform: translate(-50%, -50%);
}
