@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.markdown p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-field-error label {
  color: #e53e3e;
}

.form-field-error input[type=text], .form-field-error textarea {
  border-color: #e53e3e;
}

.h-80 {
  height: 20rem;
}

.max-h-80 {
  max-height: 20rem;
}

.max-w-8xl {
  max-width: 88rem;
}
